<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
    <form method="post" action="/chats">
        <input type="text" placeholder="who's this?" name="from"><br/>
        <textarea name = "msg" placeholder="Start chedhama..."></textarea><br/>
        <input placeholder="to whom ?" name="to"><br/>
        <button>Create a Chat</button>
    </from>
    
</body>
</html>